*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background: #E8DADA;
    background-size: cover;
}


.imagen{
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    background: linear-gradient(130deg,#74b9ff, #e66767);
}

.cuadro{
    border: 3px solid #FFF095;
    border-radius: 15px;
    background-color: #FFF8CE;
    padding: 10px;
}

.descripcion{
    background-color: #74b9ff;
    color: #fff;
    margin: 10px;
}

.habilidades{
    border: 3px solid gray;
    background-color: #FFF8CE;
    color: #8F2A2A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.tecnologias{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.tecnologias li{
    color: #fff;
    background-color: #8F2A2A;
    padding: 2px;
    border-radius: 2px;
}

.logo{
    width: 50px;
}

.perfil{
    width: 80%;
}


.elementos{
    margin: 25px auto 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.elementos a{
    color: white;
    width: 50px;
    font-size: 22px;
}
.elementos i{
    transition: .3s ease-in-out;
}
.elementos .fa-instagram:hover{
    color: #056991;
}
.elementos .fa-whatsapp:hover{
    color: #056991;
}
.elementos .fa-github:hover{
    color: #056991;
}
.elementos .fa-linkedin:hover{
    color: #056991;
}