*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background: #E8DADA;
    background-size: cover;
}


.imagen{
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    background: linear-gradient(130deg,#74b9ff, #e66767);
}